<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="showAddTask? true : reset()" [formGroup]="form" autocomplete="off">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" id="text" name="text" placeholder="Add task text" class="input" formControlName="text"/>
        <div *ngIf="Text?.errors">
            <p class="error" *ngIf="Text?.hasError('required') && Text?.touched">Please add a task</p>
            <p class="error" *ngIf="Text?.hasError('minlength')">Your task title should have at least 10 characters</p>
        </div>
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="datetime-local" id="day" name="day" placeholder="Add day & time" class="input date" formControlName="day" [min]="currentDate"/>
        <div *ngIf="form.value.day!<currentDate! && form.value.day">
            <p class="error">Please select a valid date and time</p>
        </div>
    </div>
    <div class="form-control-check">
        <label for="reminder" class="label">Reminder</label>
        <input type="checkbox" id="reminder" name="reminder" class="input" formControlName="reminder"/>
    </div>
    <p *ngIf="Text?.valid && Text?.touched">{{form.value.text}}</p>
    <input class="btn btn-block" type="submit" value="Save" [attr.not-ready]="!form.valid"/>
</form>
